.navbar-brand { 
    color: #fff;
  }
  
  .navbar-brand:hover { 
    color: rgb(174, 169, 169);
  }
  
  .nav-link  { 
    color: #fff;
  }
  
  .nav-link:hover  { 
    color: rgb(174, 169, 169);
    text-decoration: underline;
  }